body {
    background-color: #111111;

}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 25px;
}

p {
    color: #eeeeee;
    font-size: 18px;
    line-height: 30px;
}

span {
    text-decoration: underline;
    text-decoration-color: #49DAFF;
    cursor: pointer;
}

#film-description {
    font-size: 15px;
    font-style: italic;
}

