.body {
  margin: 0
}
.header {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-family: Impact;
}
